node_modules
public/.DS_Store
public/media/svg_single/.DS_Store
public/media/slidevid_temp/.DS_Store
public/media/vid_single/.DS_Store
public/media/slideimg/.DS_Store
public/media/img_act/.DS_Store
public/media/img_single/.DS_Store
public/media/menu/.DS_Store
public/media/.DS_Store
public/form/js/.DS_Store
public/form/img/form1/.DS_Store
public/form/.DS_Store
public/css/webfont/save/.DS_Store
public/css/webfont/.DS_Store
public/css/.DS_Store
.DS_Store
public/media/slidevid_temp/_DS_Store
public/media/slidevid_temp/Icon_
public/css/webfont/save/SFCompactDisplay-Bold.otf
public/css/webfont/save/SFCompactDisplay-Light.otf
public/css/webfont/save/SFCompactDisplay-Medium.otf
